<% for(var i=0;i<data.length;i++){ %>
    <tr>
    <td><%=i+1%></td>
    <td><%=data[i].termsandcondition%></td>
    <td><%=data[i].privacypolicy%></td>
    <td><%=data[i].cokkiepolicy%></td>
    

    <td>
        <a href='/edit_privacy/<%=data[i]._id%>/<%=data[i].termsandcondition%>' class="btn border-shadow update">
        <span class="text-gradient"><button type="button" class="btn btn-primary">EDIT</button></span>
        </a>

        <a href='/delete_privacy/<%=data[i]._id%>/<%=data[i].termsandcondition%>' class="btn border-shadow update">
        <span class="text-gradient"><button type="button" class="btn btn-danger">DELETE</button></span>
        </a>
    </td>

    </tr>
<%}%>
