<%- include("./partials/header") %>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

    <!-- Theme included stylesheets -->
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    <style>

 
        body {
          font-family: Arial;
          font-size: 17px;
          padding: 8px;
        }
        
        * {
          box-sizing: border-box;
        }
        
        .row {
          display: -ms-flexbox; /* IE10 */
          display: flex;
          -ms-flex-wrap: wrap; /* IE10 */
          flex-wrap: wrap;
          margin: 0 -16px;
        }
        
        .col-25 {
          -ms-flex: 25%; /* IE10 */
          flex: 25%;
        }
        
        .col-50 {
          -ms-flex: 50%; /* IE10 */
          flex: 50%;
        }
        
        .col-75 {
          -ms-flex: 75%; /* IE10 */
          flex: 75%;
        }
        
        .col-25,
        .col-50,
        .col-75 {
          padding: 0 16px;
        }
        
        .container-fluid {
          background-color: #f2f2f2;
          padding: 5px 20px 5px 20px;
          border: 1px solid lightgrey;
          border-radius: 5px;
        }
        
        input[type=text] {
          width: 100%;
          margin-bottom: 20px;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
        
        label {
          margin-bottom: 10px;
          display: block;
        }
        .icon-container {
      margin-bottom: 20px;
      padding: 7px 0;
      font-size: 24px;
    }
    
    .btn {
      background-color: #04AA6D;
      color: white;
      padding: 12px;
      margin: 10px 0;
      
      border: none;
      width: 100%;
    
      cursor: pointer;
      font-size: 17px;
    }
    
    .btn:hover {
      background-color: #45a049;
    }
    
    a {
      color: #2196F3;
    }
    
    hr {
      border: 1px solid lightgrey;
    }
    
    span.price {
      float: right;
      color: grey;
    }
    
    .btncancel {
      background-color: hsl(2, 95%, 34%);
      color: white;
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
   
      cursor: pointer;
      font-size: 17px;
    }
    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
    @media (max-width: 800px) {
      .row {
        flex-direction: column-reverse;
      }
      .col-25 {
        margin-bottom: 20px;
      }
    }
    </style>
    </head>
    <body>
      
    <h2> New Blog   </h2>
    <form action="/blogupdate/<%=hdata._id%>" method="POST"  style="padding-top:10px;" enctype="multipart/form-data" >
    
        <div class="container-fluid" style="background-color: rgba(101, 114, 78, 0.534);" > 
            <div class="row" style="margin-bottom: 40px;">

              <h1 id="data" style="display: none;"><%=data%></h1>
                <label for="blogname" >Blog Title </label>
                <input type="hidden" value="<%=hdata.blogtitle%>" name="oldblogname">
                <input type="text" id="blogtitle" name="blogtitle" value="<%=hdata.blogtitle%>" placeholder=" Blog Title">

                <label for="blogurl" >Blog URL </label>
                <input type="text" id="blogurl" name="blogurl" value="<%=hdata.blogurl%>" placeholder="Blog Url">

                  <div class="mb-3">
                    <label for="formFile" class="form-label">Blog Banner Image </label>
                    <input class="form-control" id="bannerimg" type="file" name="newbannerimg" 
                    accept="image/png, image/gif, image/jpeg , image/jpg,image/PNG, image/GIF, image/JPEG , image/JPG, image/webp , image/WEBP">
                    <small><strong><%=hdata.blogbannerimage%></strong></small>
                  </div>

                  <div class="row" style="margin-bottom: 150px; padding-top: 20px;">
                    <label for="blogintroduction" > Blog Introduction </label>
                    <div class="col-sm-12">
                      <div id="editor5"> </div>
                      <input type="hidden" name="blogintroduction" id="blogintroduction"  value="<%=hdata.blogintroduction%>">
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="formFile" class="form-label" style="padding-top: 20px;">Intro Image </label>
                    <input class="form-control" id="introductionimg" type="file" name="newintroductionimg" 
                    accept="image/png, image/gif, image/jpeg , image/jpg,image/PNG, image/GIF, image/JPEG , image/JPG, image/webp , image/WEBP">
                    <small><strong><%=hdata.introimage%></strong></small>
                  </div>
                  
                  <div class="row" style="margin-bottom: 150px; padding-top: 20px;">
                  <div class="col-sm-12">Main Description
                    <div id="editor1"> </div>
                    <input type="hidden" name="maindescription" id="maindescription" value="<%=hdata.maindescription%>">
                  </div>
                </div>

                <div class="mb-3">
                  <label for="formFile" class="form-label">Maindesc Image </label>
                  <input class="form-control" id="maindescimg" type="file" name="newmaindescimg" 
                  accept="image/png, image/gif, image/jpeg , image/jpg,image/PNG, image/GIF, image/JPEG , image/JPG, image/webp , image/WEBP">
                  <small><strong><%=hdata.maindescimage%></strong></small>
                </div>

                <div class="row" style="margin-bottom: 150px; padding-top: 20px;">
                  <label>Conclusion </label>
                  <div class="col-sm-12">
                    <div id="editor4"> </div>
                    <input type="hidden" name="conclusion" id="conclusion" value="<%=hdata.conclusion%>">
                  </div>
                </div>

                <label for="categoryname" style="padding-top: 20px;">Category Name  </label>
                <select name="categoryname" id="categoryname" style="width: 100%;"> </select>
                <small><strong><%=hdata.categoryname%></strong></small>

                <!-- <label for="birthdaytime"  >Created At  </label>
                <input type="datetime-local" id="createdat" name="createdat" value="<%=hdata.createdat%>"> -->

                  <label for="Status" style="padding-top: 20px;">Status</label>
                    
                    <select name="Status" id="Status" value="<%=hdata.Status%>" style="width: 100%;
                    height: 5vh;">
                    <option value="enable">Enable</option>
                    <option value="disable">Disable </option>
                </select>  
            </div>
        </div>

        
        <div class="container-fluid" style="background-color: rgba(101, 114, 78, 0.534);" > 
            <div class="row" style="margin-bottom: 80px;">

                <label for="metatitle" >Meta Title   </label>
                <input type="text" id="metatitle" name="metatitle" value="<%=hdata.metatitle%>" placeholder="">

                <label for="metadescription" >Meta Description   </label>
                <input type="text" id="metadescription" name="metadescription" value="<%=hdata.metadescription%>" placeholder="">
            </div>
        </div>

            <div class="container-fluid" style="background-color: rgba(101, 114, 78, 0.534);" > 
              <div class="row" style="margin-bottom: 110px;">

                <div class="row" style="margin-bottom: 10px;">
                  <div class="col-sm-6">Author Name 
                    <input type="text" name="authorname" id="authorname" value="<%=hdata.authorname%>">
                  </div>

                  <div class="col-sm-6">Author Description 
                    <input type="text" name="authordescription" id="authordescription" value="<%=hdata.authordescription%>">
                  </div>
                </div>
           
    
                  <div class="mb-3">
                    <label for="formFile" class="form-label">Author Image </label>
                    <input class="form-control" id="authorimg" type="file" name="newauthorimg" 
                    accept="image/png, image/gif, image/jpeg , image/jpg,image/PNG, image/GIF, image/JPEG , image/JPG, image/webp , image/WEBP">
                    <small><strong><%=hdata.authorimage%></strong></small>
                  </div>

                  <label for="disclaimer"> Disclaimer </label>
                  <textarea id="disclaimer" name="disclaimer" value="<%=hdata.disclaimer%>" rows="4" cols="50">
                  </textarea>

              </div>
            </div>

            <input type="submit" value="SUBMIT" class="btn" style="margin-top:100px;">
            
            <input type="submit" value="Cancel" class="btncancel">

        </form>
               
    </body>

    <script>
   
      
      var data=document.getElementById("data").innerText;
        var array=data.split(',');
        for(var i=0;i<array.length;i++){
            var select=document.getElementById('categoryname');
            var option=document.createElement("option");
            option.text=array[i];
            select.add(option);
        }
        var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],
        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction
        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
        ];

       
        var quill1 = new Quill('#editor1', {
        modules: {
        toolbar: toolbarOptions
        },
        theme: 'snow'
        })

      
        var quill4 = new Quill('#editor4', {
        modules: {
        toolbar: toolbarOptions
        },
        theme: 'snow'
        })


        var quill5 = new Quill('#editor5', {
        modules: {
        toolbar: toolbarOptions
        },
        theme: 'snow'
        })


        var form= document.querySelector("form");
        var input1 = document.getElementById('maindescription');
        // var input2 = document.getElementById('authorname');
        // var input3 = document.getElementById('authordescription');
        var input4 = document.getElementById('conclusion');
        var input5 = document.getElementById('blogintroduction');

        form.addEventListener('submit', function(e){
        input1.value = quill1.root.innerText;
        // input2.value = quill1.root.innerText;
        // input3.value = quill1.root.innerText;
        input4.value = quill4.root.innerText;
        input5.value = quill5.root.innerText;
        console.log(input1.value,input4.value,input5.value)
        
    });
       
    </script>
        
    </html>
    <%-  %>